{% extends 'base.html.twig' %}


{% block head %}
{% endblock %}

{% block content %}



	<div class="bg-white  rounded-xl shadow-lg mt-8 ml-8 mr-8 box-border h-1/2 w-3/4 sm:w-full md:w-full lg:w-full
	xl:w-full">

		<section class="px-4 sm:px-6 lg:px-4 xl:px-6 pt-4 pb-4 sm:pb-6 lg:pb-4 xl:pb-6 space-y-4 ">
				<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
					{% for manga in mangas|slice(0,3) %}
							<a href="{{ path('manga', { serie: manga.id }) }}">
							<div class=" group cursor-pointer rounded-lg p-4 border border-gray-200	hover:border-transparent hover:shadow-lg">
								<div class="text-xl text-center  font-bold">
									{{ manga.serie }}
								</div>
								<img class="rounded-lg" src="images/{{ manga.CheminImage }}">
							</div>
						</a>
					{% endfor%}
				</ul>
		</section>
	</div>

{% endblock %}
