{% extends 'base.html.twig' %}


{% block head %}{% endblock %}

{% block content %}
	<ul>
		{{ dump(editeurs) }}
		{% for key,editeur in editeurs %}
			<li>
				{{ editeur.nom }}
			</li>
		{% else %}
			Aucun editeur
		{% endfor %}
	</ul>
{% endblock %}
