{% extends 'base.html.twig' %}


{% block head %}{% endblock %}

{% block content %}
	<ul class="grid grid-cols-3 gap-4 min-h-3">
			{% for key,serie in series %}
				<div class="group hover:shadow-lg h-52">
					<img src="images/{{ mangaImage[key] }}">
				</div>
			{% endfor %}
	</ul>


{% endblock %}

