{% extends 'base.html.twig' %}


{% block head %}{% endblock %}

{% block content %}
<div class="m-4">
	<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 gap-4 max-h-60 rounded-lg">
	{% for key,categorie in categories %}
			<div class="group bg-white rounded rounded-ld hover:shadow-lg transition duration-500 ease-in-out
					transform hover:-translate-y-1 hover:scale-110 h-24 w-32 flex items-center justify-center">
				<div class="text-xl text-center  font-bold">
					{{ categorie  }}
				</div>
			</div>
	{% else %}
		Aucune Categories
	{% endfor %}
	</ul>
{% endblock %}
